<suite name="Suite1" verbose="1">
    <test name="Kalkulator" enabled="false">
        <classes>
            <class name="CalculatorTest"/>
        </classes>
    </test>
    <test name="Test przegladarki" enabled="false">
        <classes>
            <class name="FirstTest"/>
        </classes>
    </test>
    <test name="Lokalizatory test" enabled="false">
        <classes>
            <class name="Lokalizatory"/>
        </classes>
    </test>
    <test name="Operacje test" enabled="false">
        <classes>
            <class name="Operacje"/>
        </classes>
    </test>

    <test name="Testy Page Object" enabled="true">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>
</suite>