<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Kalkulator">
        <classes>
            <class name="CalculatorTest"/>
        </classes>
    </test>

    <test name="Test przegldarki">
        <classes>
            <class name="FirstTest"/>
        </classes>
    </test>
    <test name="Test lokalizatorw">
        <classes>
            <class name="Lokalizatory"/>
        </classes>
    </test>


</suite>
